# RStudio files
**/.Rbuildignore
**/.Rhistory
**/.RData
**/.Rproj.user
**/.Rd2pdf*

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#matlab temporary files
*.m~

#google token files
google_token*.mat

#Local preferences
LiPDUtilitiesPreferences.mat

*/.idea/*
.idea/*
*.pyc
*.xml
*.iml

# Ignore the Package build and misc data
setup.cfg
.eggs
dist
build
LiPD.egg-info
Python/dist/LiPD-0.1.0-py3.4.egg

*/.spyderworkspace

Python/lipd/files/examples/*
Python/README.txt

*/.DS_Store

Matlab/nameCon.mat
.Rproj.user
