# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

#matlab temporary files
*.m~

#google token files
google_token*.mat

#Local preferences
LiPDUtilitiesPreferences.mat

.idea/*

*.pyc
*.xml
*.iml

# Ignore the Package build and misc data
setup.cfg
.eggs
dist
build
LiPD.egg-info
Python/dist/LiPD-0.1.0-py3.4.egg

Python/.spyderworkspace

Python/lipd/files/examples/*
Python/README.txt

index.html

Python/lipd/pkg_resources/.DS_Store

.DS_Store

*.m~

*.m~
