#documentation
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs/_build/html *

#packages
recursive-include lipd/pkg_resources *
include lipd/pkg_resources/noaa/noaa-blank.txt
include lipd/pkg_resources/helpers/client_secret.json

#example files
recursive-include lipd/files *

#misc
include LICENSE
include README.md
include MODULES
include INSTALL
include REQUIREMENTS


